
{% extends 'base.html' %}

{% block body %}
    {% if 'cart' in session: %}
        <table class="table table-striped">
        <thead>        
        <tr>
            <th>Melon Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
            {% for melon in melon_list %}
                {% if melon.melon_id in session['cart'] %}
            

                    <tr>
                    <td>{{ melon.common_name}}</td>
                    <td>{{ session['cart'][melon.melon_id]}}</td>
                    <td>${{"%.2f"|format(melon.price)}}</td>
                    <td>${{ "%.2f"|format(session['cart'][melon.melon_id] * melon.price)}}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
        </table>
        <h3>Total: ${{ "%.2f"|format(running_total) }}</h3>
        <a href="/checkout" class="btn btn-large btn-primary">Check Out</a>
    {% else %} No items found in cart.
    {% endif %}
{% endblock %}
